<div class="container">
  <div class="row">
    <ul>
      <% artists.forEach((artist, index) => { %>
      <li>
        <div class="col m4">
          <div class="card">
            <div class="card-image">
              <!-- <a class="btn-floating halfway-fab waves-effect waves-light red"
                ><i class="material-icons">add</i></a
              > -->
            </div>
            <div class="card-content">
              <span class="card-title"><%= artist.artistName %></span>
              <p>
                Followers: <%= artist.artistFollowers %><br />
                Genre: <%= artist.genre %><br />
                <br />
                <form action="/artists/delete/<%= artist.id %>/?_method=DELETE" method="POST">
                  <button class="btn red" type="submit"
                  >Delete Artist</a
                >
                </form>
              </p>
            </div>
          </div>
        </div>
      </li>
  
      <br />
      <% }) %>
    </ul>
  </div>
</div>