<div class="caption center-align">
  <h3>Welcome to SoundSlap!</h3>
  <h5 class="light grey-text text-lighten-3">Browse. Listen. Share.</h5>
</div>

<div class="slider">
  <ul class="slides">
    <li>
      <img src="/imgs/vishnu-r-nair-m1WZS5ye404-unsplash.jpg" />
      <!-- random image -->
      <div class="caption left-align">
        <h3>Create a profile.</h3>
        <h5 class="light grey-text text-lighten-3">
          Register and start listening today!
        </h5>
        <a href="/auth/register" class="btn">Register Now!</a>
      </div>
      <div class="caption center-align"></div>
    </li>
    <li>
      <img src="/imgs/israel-palacio-Y20JJ_ddy9M-unsplash.jpg" />
      <!-- random image -->
      <div class="caption right-align">
        <h3>Browse all tracks, artists, and albums.</h3>
        <h5 class="light grey-text text-lighten-3">
          Save your favorite tunes to your profile!
        </h5>
      </div>
    </li>
    <li>
      <img src="/imgs/marcela-laskoski-YrtFlrLo2DQ-unsplash.jpg" />
      <!-- random image -->
      <div class="caption center-align">
        <h3>Share slaps with friends</h3>
        <h5 class="light grey-text text-lighten-3">
          Post your favorite songs for all of your friends/SlapSound community
          to see.
        </h5>
      </div>
    </li>
  </ul>
</div>
