<!DOCTYPE html>
<html>
  <head>
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <!-- Compiled and minified CSS -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
    <link rel="stylesheet" href="/css/main.css" type="text/css" />
    <title>SoundSlap</title>
  </head>
  <body>
    <header>
      <div class="row">
        <nav>
          <div class="nav-wrapper container">
            <% if (currentUser) { %>
            <a href="/" class="brand-logo">SoundSlap</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
              <li><a href="/posts">Music Stream</a></li>
              <li><a href="/<%=currentUser.id%>/likes">Likes</a></li>
              <li><a href="/profile">Profile</a></li>
              <li><a href="/auth/logout">Logout</a></li>
            </ul>
            <% } else { %>
            <a href="#" class="brand-logo">SoundSlap</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
              <li><a href="/search">Search Music</a></li>
              <li><a href="/posts">Music Stream</a></li>
              <li><a href="/auth/register">Register</a></li>
              <li><a href="/auth/login">Login</a></li>
            </ul>
            <% } %>
          </div>
        </nav>
      </div>
    </header>

    <%- body %>

    <footer class="page-footer footer">
      <div class="footer-copyright">
        <div class="container">
          Created by Jameson Aardalen © 2020 Copyright
        </div>
      </div>
    </footer>

    <script src="/js/app.js"></script>
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  </body>
</html>
