body {
  background-color: #424242;
  color: #ffffff;
  display: flex;
  flex-direction: column;
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
}

.card {
  color: #000000;
}

.add-btn {
  position: relative;
  bottom: 3px;
  right: 4px;
}

.profile-pic {
  border-radius: 500px;
}

.profile {
  margin: 0 auto;
  text-align: center;
}

.author {
  position: relative;
  left: 910px;
  bottom: 10px;
}
